@media screen and (max-width: 900px) {
  header {
    .container-header {
      background: #000;
      transition: 0.3s;
      .box-header {
        .logo-header {
          .logo-text {
            color: #fff;
            transition: 0.3s;
          }
        }
        .links-header {
          .nav-links {
            color: #fff;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    .container-header {
      .box-header.isOpened {
        max-height: 600px;
        transition: max-height 2s ease-out;
      }
      .box-header {
        max-height: 60px;
        overflow: hidden;
        transition: max-height 0.8s ease-out;
        .burger-header {
          animation: smokeOpenMenu 0.2s forwards;
        }
        .links-header {
          margin-top: 30px;
          align-items: flex-start;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }
}

@keyframes smokeOpenMenu {
  0% {display: none; opacity: 0}
  100% {display: flex; opacity: 1}
}
